@model Masonry.Models.TimelineModel
@{
    ViewBag.Title = "Mentions";
}

<h3>
  <i class="icon-globe"></i>
  Mentions
</h3>

@if (Model.Posts == null || !Model.Posts.Any())
{
  <p class="lead">No mentions found...</p>
}
else
{
  Html.RenderPartial("_TimelineTemplatesPartial");
  
  <!-- timeline -->
  <div class="m-stream-container" style="display: none;" data-bind="template: { name: 'timeline-template' }"></div>

  <!-- Loading progress indicator -->
  <div id="page-data-loading" style="text-align: center; display: none;">
    <img src="@Url.Content("~/Content/images/facebook-loading.gif")" alt="Loading..."/>
  </div>
  <div id="content-loading-error" class="alert alert-error" style="text-align: center; display: none"></div>

  <script type="text/javascript">
    var initialData = { Posts: @Html.Raw(Json.Encode(Model.Posts)) };

    $(document).ready(function() {
      if (initialData) {
        onFeedDataLoaded(initialData, '@Model.Account');
      }
      else {
        onFeedDataLoaded({ Posts: [] }, '@Model.Account');
      }
    });

    function onFeedDataLoaded(data, account) {
      if (!window.timelineFeed) {
        window.timelineFeed = new FeedViewModel(account, data);
        ko.applyBindings(window.timelineFeed);
      }
      else {
        window.timelineFeed.appendPosts($(data.Posts));
      }

      enableAccountTooltips();
      enableAccountPopups();
      enableCommentExpanders();
      $(".m-stream-container").show();
    }

    // smooth infinite scrolling
    // (downloads additional posts as soon as user scrolls to bottom)
    
    function getDataUrl() {
      var bottomPostId = Math.min.apply(this, $.map(window.timelineFeed.posts(), function(o) { return o.id; }));
      return $.resolvePath("/Timeline/Mentions?top=" + bottomPostId);
    }

    $(document).ready(function() {
      initTimelineLazyLoading(getDataUrl, onFeedDataLoaded);
    });

  </script>
}