@model string
@{
    ViewBag.Title = Strings.Help;
}

@if (!User.Identity.IsAuthenticated)
{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
  <i class="icon-flag"></i>&nbsp;@Strings.Help
</h3>

@if (ViewBag.HelpPage != null)
{
  <ul class="breadcrumb">
    <li>
      <a href="@Url.Action("Index", "Help", new { area = "" })">Help</a>
      <span class="divider">/</span>
    </li>
    <li class="active">@ViewBag.HelpPage</li>
  </ul>
}

<p>
  @Html.Raw(Model)
</p>
