@model Masonry.Models.PeopleModel
@{
    ViewBag.Title = "Followers";
}

<h3>
  <i class="icon-user"></i>
  @Model.Name: followers
</h3>

@{ Html.RenderPartial("_ProfileListPartial", Model); }

<script type="text/javascript">
  // smooth infinite scrolling
  // (downloads additional posts as soon as user scrolls to bottom)
  
  function getDataUrl(page) {
    return $.resolvePath("/People/Followers?uid=@Model.Account&page=" + page);
  }

  $(document).ready(function () {
    initLazyLoading(getDataUrl, onPeopleDataLoaded);
  });
 
</script>