@model Masonry.Models.PeopleModel
@{
  ViewBag.Title = Strings.People;
}

<h3>
  <i class="icon-user"></i>&nbsp;@Strings.People
</h3>

@{ Html.RenderPartial("_ProfileListPartial", Model); }

<script type="text/javascript">

  // smooth infinite scrolling
  // (downloads additional posts as soon as user scrolls to bottom)

  function getDataUrl(page) {
    return $.resolvePath("/People?page=" + page);
  }

  $(document).ready(function() {
    initLazyLoading(getDataUrl, onPeopleDataLoaded);
  });
</script>