@{
    ViewBag.Title = "Dummy";
}

<link href="@Url.Content("~/Areas/Dummy/Content/css/dummy.css")" rel="stylesheet" type="text/css" />

<h3>
  <i class="icon-list-alt"></i>
  Dummy Extension
</h3>

<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>

<p>hey there, I'm a dummy extension</p>

<h4>Some ugly embedded css applied by the extension.</h4>

<img src="@Url.Content("~/Areas/Dummy/Content/images/dummy.png")"/>
