@{
    ViewBag.Title = "Thanks for registering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>But you&#8217;re not done yet!</h2>
<p>An email with instructions on how to activate your account is on its way to you.</p>