<div class=" sidebar-nav">
  <ul class="nav nav-list" id="sidebar">
    
    <li class="nav-header">Profile</li>
    <li id="account_accountsettings">
      <a href="@Url.Action("Index", "Account", new { area = "" })">
        <i class="icon-user"></i>&nbsp;Account settings
      </a>
    </li>
    <li class="disabled"><a href="#"><i class="icon-envelope"></i>&nbsp;Email addresses</a></li>
    <li id="account_changepassword">
      <a href="@Url.Action("ChangePassword", "Account", new { area = "" })">
        <i class="icon-lock"></i>&nbsp;Change password
      </a>
    </li>
    
    <li class="divider"></li>
    <li id="help_index">
      <a href="@Url.Action("Index", "Help", new { area = "" })">
        <i class="icon-flag"></i>&nbsp;Help
      </a>
    </li>
  </ul>
</div>
<!--/.well -->

<script type="text/javascript">
    
    // Controls selection state of navbar items
  $(document).ready(function() {
    updateSidebarSelection('@ViewBag.NavigationPath');
  });
  
</script>